.item  a{
  display: flex;

  background-color: #ddd;
  border: 1px solid #ccc;

  text-decoration: none;
  color: initial;
  cursor: pointer;

  figure, div {
      width: 49%;
      display: inline-block;
      margin: 1%;
  }

  img {
    max-width: 100%;
    min-width: 80%;
  }

  h2 {
    margin-top: 10%;
    margin-bottom: 5px;
  }
}

.item__index {
  font-weight: 100;
  font-size: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}
