main {
    background: white;
    nav {
        max-width: 1100px;
        margin: 0 auto;
    }
    ul {
        color: $colorThemeLight;
        font-size: 0.7em;
        text-align: left;
        li:last-child {
            color: #7e7c92;
        }
    }
    .main-flex {
        max-width: 1100px;
        margin: 0 auto;
    }
    article {
        padding: 0 2em 2em 1em;
        max-width: 500px;
        h1 {
            @include headertextfont(2em);
            font-weight: 100;
            color: $colorMain;
            line-height: 1;
            text-align: left;
        }
        p {
            font-family: acumin-pro, sans-serif;
            text-align: left;
        }

    }
    .brochure {
        background-color: #7e7e9a;
        padding: 0em 1em 1em 8em;
        position: relative;
        max-width: 450px;
        margin: 0 2em 0 2em;
        @include mediaquery(mobile) {
            padding: 1em;
        }

        img {
            position: absolute;
            left: -50px;
            top: 2em;
            width: 12em;
        }
        h2 {
            @include headertextfont(2em);
            color: $colorLigth;
            font-weight: 100;
            margin: 0;
        }
        p {
            font-family: acumin-pro, sans-serif;
            color: $colorLigth;
        }
    }
    .shadowed {
        -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
        filter: url(#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        @include mediaquery(mobile) {
            display: none;
        }

    }
    .main-mobility {
        width: 20%;
        min-width: 200px;
        margin: 1em 3em;
        @include mediaquery(gt_tablet) {
            margin: 1em 1em;
        }
        h3 {
            font-family: futura-pt, sans-serif;
            color: $colorThemeLight;
            border-bottom: 1px solid $colorThemeLight;
            padding-bottom: 1%;
            text-align: left;
            font-weight: 100;
            margin-bottom: 0.5em;
        }
        p {
            font-family: acumin-pro, sans-serif;
            text-align: left;
            font-size: 0.9em;
            margin-top: 0;
        }
    }
}
