/**
*
* Breadcrumbs
*
**/

.breadcrumbs {
    clear: both;
    padding: 1em 2em;

    li {
        display: inline-block;

        &:not(:last-child):after {
            content: '>';
            padding: 0 10px;
            color: #7e7c92;
        }
    }

    a {
        color: $colorMain;

        &:hover {
            color: #555;
        }
    }
}

