section {
  position: relative;
  h3 {
    color: black;
    padding-left: 5vw;
    margin-bottom: 0vh;
    margin-top: 5vh;
    span {
      @extend .roundSpan;
    }
  }
  &#Features {
    p {
      margin: 0;
      padding: 1vh 5vw;
      color: $darkenColor;
    }
    img {
      position: absolute;
      opacity: 0.3;
      left: -30vw;
      top: 0;
      z-index: -3;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .item {
    width: 100vw;
    display: inline-block;
  }
}
@media (min-width: $firstDim) {
    section .item {
        width: 50vw;
      }
    #Features {
      img {
        left: 0;
      }
    }
  }
@media (min-width: $seconDim) {
    section {
      .list {
        width: 40vw;
      }
      &#Features img {
        position: initial;
        margin-left: -10vh;
        opacity: 1;
      }
    }

    .style-div {
      flex-direction: row;
    }
  }
@media (min-width: $thirDim) {
  section {
    .list {
      width: 60vw;
      justify-content: center;
      align-items: center;
      margin-left: 5vw;
    }
    .item {
      width: 21vw;
    }
    &#Features {
      min-height: 460px;
      img {
        height: 60vh;
        margin-top: -10vh;
      }
      p {
        padding: 1vh 1vw 1vh 4vw;
      }
    }
    h3 {
      padding-left: 0;
    }
  }
  }