header {
  background: url("../img/header.jpg") no-repeat center top;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  padding-bottom: 10vh;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    margin-top: 30vh;
    text-transform: uppercase;
    padding: 0 10vw 0 10vw;
    text-shadow: 3px 3px 10px green;
  }
  p {
    padding: 0 10vw 0 10vw;
    text-shadow: 1px 0 10px green;
    flex: 1;
  }
  @media (min-width: $firstDim) {
    h1 {
      width: 50%;
      margin-top: 20vh;
    }
    p {
      width: 50%;
    }
  }
  @media (min-width: $seconDim) {
    h1 {
      width: 40vw;
    }
    p {
      width: 40vw;
    }
  }
  @media (min-width: $thirDim) {
    h1 {
      font-size: 4vw;
    }
  }
}
nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: flex-start;
  height: 10vh;
  ul {
    display: inline-block;
    list-style: none;
    text-align: right;
    font-family: $fontStandard;
    &::before {
      content: "MENU";
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  li {
    display: none;
    &.active {
      display: inline-block;
    }
  }
  @media (min-width: $firstDim) {
    ul {
      display: flex;
      &::before {
        display: none;
      }
    }
    li {
      display: inline-flex;
      &:hover a {
        font-weight: 700;
      }
      &.current a {
        background-color: rgba(104, 168, 0, 0.5);
        border-radius: 10%;
      }
      a {
        padding: 2vh 1vw;
      }
    }
  }
  @media (min-width: $seconDim) {
    width: 80vw;
  }
}