.carousel {
  display: none;
}
.name, .desc {
  margin: 0 10vw;
  padding: 0;
}
.name {
  font-weight: 600;
  color: black;
}
#Testimonial {
  min-height: unset;
  position: relative;
}
//Backgrouunds for carousel mobile
.background {
  opacity: 0.3;
  position: absolute;
  top: 0;
}