$mainColor: #66a900;
$paragrafColor: #ddd;
$fontStandard: 'PT Sans', sans-serif;
$fontFancy: 'Poppins', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: $fontStandard;
  color: white;
}
header {
  background: url("../img/header.jpg") no-repeat center top;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  padding-bottom: 10vh;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    margin-top: 30vh;
    text-transform: uppercase;
    padding: 0 10vw 0 5vw;
    text-shadow: 3px 3px 10px green;
  }
  p {
    padding: 0 5vw;
    text-shadow: 1px 0 10px green;
  }
}
nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: flex-start;
  height: 10vh;
  ul {
    display: inline-block;
    list-style: none;
    text-align: right;
    &::before {
      content: "MENU";
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  li {
    display: none;
    &.active {
      display: inline-block;
    }
  }
}
section {
  margin-top: -1px;
  overflow-x: hidden;
  font-family: $fontFancy;
  .decor {
    width: 200vw;
  }
  h1 {
    text-align: center;
    color: black;
  }
  strong {
    color: $paragrafColor;
    font-size: 1.7em;
    font-family: $fontStandard;
  }
  em {
    color: $mainColor;
    font-style: normal;
  }
  p {
    color: #bbb;
    padding: 5vh 10vw;
    text-align: justify;
    text-shadow: 0 0 1px $paragrafColor;
    z-index: 1;
  }
  article {
    position: relative;
  }
  img {
    position: absolute;
    opacity: 0.2;
    z-index: 3;
    top: -140px;
    left: -150px;
  }
}